<footer class="Footer Block Container" role="contentinfo">
  <div class="Block">
    <h1 class="Heading t-mt0">design&amp;build</h1>

    <p class="Lead">
      <a href="mailto:design@blivesta.com">design@blivesta.com</a>
    </p>

  </div>
</footer>

<script src="{{file.meta.base_url}}js/blivesta.js"></script>