<header class="Container Block">

  <p class="IconWrap t-center">
    <svg class="IconXl">
      <use xlink:href="#Icon-blivesta" />
    </svg>
  </p>

  <h1 class="Name">blivesta</h1>

  <h2 class="Lead">
    {{site.description}}
  </h2>

</header>