version: 2.1
executors:
  node-executor:
    docker:
      - image: circleci/node:8.11.4
    working_directory: ~/repo        
  reg:
    docker:
      - image: regviz/node-xcb
    working_directory: ~/repo

commands:
  setup:
    steps:
      - checkout
      - restore_cache:
          keys:
            - v2-yarn-{{ checksum "yarn.lock" }}-{{ arch}}
      - run:
          name: Install Dependencies
          command: yarn install --pure-lockfile
      - save_cache:
          key: v2-yarn-{{ checksum "yarn.lock" }}-{{ arch}}
          paths:
            - ~/repo/node_modules

jobs:
  test:
    executor: node-executor
    working_directory: ~/repo
    steps:
      - setup
      - run:
          name: Lint
          command: yarn lint
      - run:
          name: Tsc
          command: yarn tsc
      - run:
          name: Jest
          command: yarn test:ci
  build:
    executor: node-executor
    working_directory: ~/repo
    steps:
      - setup
      - run:
          name: Gatsby
          command: yarn build
  regression:
    executor: reg
    working_directory: ~/repo
    steps:
      - setup
      - run:
          name: Screenshot
          command: yarn screenshot
      - run:
          name: Regression test
          command: yarn reg

workflows:
  version: 2
  build_pipeline:
    jobs:
      - test:
          filters:
            branches:
              ignore:
                - master
      - regression:
          filters:
            branches:
              ignore:
                - master
      - build
