version: 2.1
executors:
  node-executor:
    docker:
      - image: circleci/node:10.16.0
    working_directory: ~/repo        
  reg:
    docker:
      - image: regviz/node-xcb
    working_directory: ~/repo

commands:
  gatsby-build:
    steps:
      - checkout
      - restore_cache:
          keys:
            - yarn-cache-{{ checksum "yarn.lock" }}
      - run:
          name: Install Dependencies
          command: yarn install && npm rebuild
      - save_cache:
          key: yarn-cache-{{ checksum "yarn.lock" }}
          paths:
            - ./node_modules
  reg-run:
    steps:
      - checkout
      - restore_cache:
          keys:
            - yarn-cache-{{ checksum "yarn.lock" }}
      - run:
          name: Install Dependencies
          command: yarn install && npm rebuild
      - save_cache:
          key: yarn-cache-{{ checksum "yarn.lock" }}
          paths:
            - ./node_modules

jobs:
  build:
    executor: node-executor
    working_directory: ~/repo
    steps:
      - gatsby-build
      - run:
          name: Lint
          command: yarn lint
      - run:
          name: Tsc
          command: yarn test
      - run:
          name: Gatsby
          command: yarn build
  regression:
    executor: reg
    working_directory: ~/repo
    steps:
      - reg-run
      - run:
          name: Screenshot
          command: yarn screenshot
      - run:
          name: Regression test
          command: yarn reg

workflows:
  version: 2
  build_pipeline:
    jobs:
      - build
      - regression
