.Block {
  margin-top: 40%;
  margin-bottom: 40%;
}

@media (--g-viewport-sm) {
	.Block {
	  margin-top: 30%;
	  margin-bottom: 30%;
	}
}
@media (--g-viewport-md) {
	.Block {
	  margin-top: 20%;
	  margin-bottom: 20%;
	}
}
@media (--g-viewport-lg) {
	.Block {
	  margin-top: 12%;
	  margin-bottom: 12%;
	}
}
