.Block {
  padding-top: 15%;
  padding-bottom: 20%;
}

.Block--borderTop {
  border-top: 3px solid var(--g-borderColor);
}

@media (--g-viewport-sm) {
	.Block {
	  padding-top: 6%;
	  padding-bottom: 8%;
	}
}
