.Card {}


.Card-title {
  text-transform: uppercase;
}


.Card-description,
.Card-caption {
  font-family: var(--g-fontFamily-sansEn);
}


.Card-description {
	margin-bottom: var(--g-space-xs);
}


.Card-caption {
  font-weight: 600;
}
