
.defs {
  display: none;
}

[class^="Icon-"],
.Icon {
  width: 12px;
  height: 12px;
  fill:var(--g-primary);
}

.Icon-heart {
  width: 40px;
  height: 40px;
}




.IconWrap,
.IconWrap .IconXl {
  width: 64px;
  height: 64px;
}

@media (--g-viewport-sm) {
	.IconWrap,
	.IconWrap .IconXl {
	  width: 96px;
	  height: 96px;
	}
}

@media (--g-viewport-md) {
	.IconWrap,
	.IconWrap .IconXl {
	  width: 128px;
	  height: 128px;
	}
}

@media (--g-viewport-lg) {
	.IconWrap,
	.IconWrap .IconXl {
	  width: 138px;
	  height: 138px;
	}
}
