.Name,
.Total,
.Lead,
.Heading {
  letter-spacing: var(--g-letterSpace-sm);
}

.Name,
.Lead,
.Total,
.Heading {
  text-align: center;
}

.Name,
.Total {
  line-height: 1;
  margin-top: 2%;
  margin-bottom: 0;
}


.Total {
  font-size: 17vw;
  line-height: 1;
}
@media (--g-viewport-sm) {
	.Total {
	  font-size: 12vw;
	}
}
@media (--g-viewport-lg) {
	.Total {
	  font-size: 7vw;
	}
}


.Name {
  font-size: 17vw;
}
@media (--g-viewport-sm) {
	.Name {
	  font-size: 12vw;
	}
}
@media (--g-viewport-lg) {
	.Name {
	  font-size: 7vw;
	}
}

.Heading {
  font-size: 6vw;
	margin-bottom: var(--g-space-xs);
}
@media (--g-viewport-md) {
	.Heading {
	  font-size: 4vw;
	}
}

@media (--g-viewport-lg) {
	.Heading {
	  font-size: 3vw;
	}
}


.Lead {
  font-size: 2.5vw;
  margin-top: 0;
  margin-bottom: 0;
}
@media (--g-viewport-sm) {
	.Lead {
	  font-size: 2vw;
	}
}
@media (--g-viewport-lg) {
	.Lead {
	  font-size: 1.2vw;
	}
}
