{{> include/head}}

<body itemscope itemtype="http://schema.org/WebPage">

<div class="Wrap">

{{> include/icon}}

{{> include/header}}

{{{block "content"}}}

{{> include/footer}}

</div>

</body>

</html>
