---
layout: home
base_url: "./"
---
{{#extend "home"}}
{{#content "content"}}

<main class="Container" role="main">

<section class="Block Grid Sns">

  <div class="Grid-col t-width1of5 t-alignCenter">
    <a href="https://twitter.com/blivesta" target="_blank">
      <svg class="Icon Icon-twitter">
        <use xlink:href="#Icon-twitter" />
      </svg>
    </a>
  </div>

  <div class="Grid-col t-width1of5 t-alignCenter">
    <a href="https://github.com/blivesta" target="_blank">
      <svg class="Icon Icon-github">
        <use xlink:href="#Icon-github" />
      </svg>
    </a>
  </div>

  <div class="Grid-col t-width1of5 t-alignCenter">
    <a href="https://dribbble.com/blivesta" target="_blank">
      <svg class="Icon Icon-dribbble">
        <use xlink:href="#Icon-dribbble" />
      </svg>
    </a>
  </div>

  <div class="Grid-col t-width1of5 t-alignCenter">
    <a href="https://instagram.com/blivesta" target="_blank">
      <svg class="Icon Icon-instagram">
        <use xlink:href="#Icon-instagram" />
      </svg>
    </a>
  </div>

  <div class="Grid-col t-width1of5 t-alignCenter">
    <a href="https://sumally.com/blivesta" target="_blank">
      <svg class="Icon Icon-sumally">
        <use xlink:href="#Icon-sumally" />
      </svg>
    </a>
  </div>

</section>


<section class="Block">
  <p class="IconWrap t-center">
    <svg class="Icon-star IconXl">
      <use xlink:href="#Icon-star" />
    </svg>
  </p>
  <p class="js-total Total"></p>
  <p class="Lead t-mbGt">Projects Total Stars on GitHub</p>
  <div class="js-projects Grid "></div>
</section>


</main>


{{/content}}
{{/extend}}
